h1{
	color: green;
	text-align: center;
}
p{
	color: blue;
}
body{
	background-color: lightblue;
}
div{
	border: 5px dotted red;
	font-family: Arial, Sans-serif;
	font-size: 20px;
	background-color: yellow;
	width: 60%;
	height: 600px;
	margin: 20px;
	padding: 20px;
}